SEG_BOOT            EQU     0x07C0
SEG_SETUP           EQU     0x07E0
SEG_KERNEL          EQU     0x1000

FDSEC_SETUP         EQU     0x02
FDSEC_SETUP_NUM     EQU     #FDSEC_SETUP_NUM#

FDSEC_KERNEL        EQU     #FDSEC_KERNEL#
FDSEC_KERNEL_NUM    EQU     #FDSEC_KERNEL_NUM#
